.filter-input-list{
	display:flex;
	margin-top:50px;
	margin-bottom:10px;
	border-bottom:1px solid #e0e0e0;
	padding-bottom: 10px;
	align-items: end;
}

.filter-input-list .input-filter{
	width:300px;
	margin-left:10px;
}

.filter-input-list .button-style-list{
	width:100%;
	display: flex;
	justify-content: flex-end;
	margin-right:10px;
	min-height:28px;
}


.filter-input-list .button-style-list button{
	border:1px solid #1caba0;
	color: #1caba0;
	background-color: white;
	min-width:72px;
	font-size:12px;
}

.filter-input-list .button-style-list button.active{
	background-color: #1caba0;
	color: white;
}

.filter-input-list  .button-left{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.filter-input-list  .button-right{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

.input-filter{
	position:relative;
}


.icon-search:before{
	font-family: 'FontAwesome';
	color: gray;
	position: relative;
	left: 8px;
	content: "\f002";
	top:25px;
}

/*input:after{
	font-family: 'FontAwesome';
	color: gray;
	position: relative;
	left: -5px;
	content: "\f007";
}*/