<div class="col-lg-8 col-xl-8 mt-5">
  <div class="generic-card">
    <h3 class="card-header">Add New Store</h3>
    <div class="card-body ml-lg-5 ml-xl-5">
      <form [formGroup]="storeform" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <div *ngIf="selectedFile.src!=''" style="width: 100px; height: 100px; background-color: gray;" [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}"></div>
              <div *ngIf="selectedFile.src==''" style="width: 100px; height: 100px; background: url('/assets/image/upload.svg') no-repeat"></div>
<!--                <input #imageInput-->
<!--                type="file"-->
<!--                accept="image/*"-->
<!--                (change)="processFile(imageInput)">-->

              <div class="upload-btn-wrapper">
                <button class="upload-file-text">Upload Profile photo </button>
                <input #imageInput
                       type="file"
                       accept="image/*"
                       (change)="processFile(imageInput)">
<!--                <input type="file" name="myfile" />-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="store_name">Store Name</label>
              <!--store_name, contact_email, contact_phone, zip_code, address-->
              <input type="text" formControlName="store_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.store_name.errors }" />
              <div *ngIf="submitted && f.store_name.errors" class="invalid-feedback">
                <div *ngIf="f.store_name.errors.required">Store Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="contact_phone">Phone Number </label>
              <input type="text" formControlName="contact_phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact_phone.errors }" />
            </div>
            <div class="form-group">
              <label for="address">Address </label>
              <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact_phone.errors }" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="contact_email">Email Address</label>
              <input type="text" formControlName="contact_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact_email.errors}" />
              <div *ngIf="submitted && f.contact_email.errors" class="invalid-feedback">
                <div *ngIf="f.contact_email.errors.email">Contact Email should be a valid email</div>
              </div>
            </div>
            <div class="form-group">
                <label for="zip_code">ZipCode</label>
                <input type="text" formControlName="zip_code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip_code.errors }" />
                <div *ngIf="submitted && f.zip_code.errors" class="invalid-feedback">
                  <div *ngIf="f.zip_code.errors.minlength">Zip Code min lenght is 5</div>
                  <div *ngIf="f.zip_code.errors.maxlength">Zip Code max lenght is 6</div>
                </div>
              </div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Create
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
      </form>
    </div>
  </div>
</div>