<app-year-quarter (yearQuarterOutput) = "receiveYearQuarter($event)" [showQuarter] = true></app-year-quarter>
<div class="panel panel-primary mb-2">
    <div class="panel-body">
        <div class="generic-card">
            <div class="row mb-5">
                <div class="col-lg-3 col-xl-3 borderright-lg-xl pr-lg-0 pr-xl-0 pb-lg-5 pb-xl-5">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-header font-size-1 ml-2">Sales Volume</h5>
                            <div class="d-flex flex-column align-items-center mt-4">
                                <h2 class="">Drifwood</h2>
                                <h5 class="font-light font-size-1">2019 | Quarter 2</h5>
                                <p-chart class="mb-5" type="doughnut" [data]="pieChartData"></p-chart>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-line"></div>
                    <div class="row">
                        <div class="col d-flex flex-column">
                            <div class="ml-xl-4 ml-lg-4">
                                <div class="card-body pb-2">
                                    <span class="txt-size-14rem txt-color-gray4 font-bold">Projected Sales</span>
                                    <div class="txt-color-red txt-size-14rem font-medium">$15.75</div>
                                </div>
                            </div>
                            <div class="ml-xl-4 ml-lg-4">
                                <div class="card-body ">
                                    <span class="txt-size-14rem txt-color-gray4 font-bold">Actual Sales</span>
                                    <div class="txt-color-blue-soft txt-size-14rem font-medium">$14.25</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-xl-9 p-lg-5 p-xl-5">
                    <p-chart type="bar" [data]="lineChartData"></p-chart>
                </div>
            </div>
        </div>
    </div>
<div class="panel panel-primary mb-5 p-0">
    <div class="panel-body">
        <div class="generic-card">
            <h5 class="card-header">Sales</h5>
            <p-table class="generic-table" #dt [columns]="cols" dataKey="number" [value]="weeks" [lazy]="true" [loading]="loading">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th class="{{col.header}}" *ngFor="let col of columns">
                          {{col.header}}
                      </th>
                      <th class="toggle"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-week let-expanded="expanded" let-columns="columns">
                    <tr>
                      <td><span class="circle-small mr-2">{{week.number}}</span>{{week.week}}</td>
                      <td>{{week.totalMerchandise | number: '1.2-2'}}</td>
                      <td>{{week.totalWire | number: '1.2-2'}}</td>
                      <td>{{week.totalDelivery | number: '1.2-2'}}</td>
                      <td>{{week.totalDelivery+week.totalWire+week.totalMerchandise | number: '1.2-2'}}</td>
                      <td>
                          <a href="#" [pRowToggler]="week">
                              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                          </a>
                      </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                    <tr>
                      <td class="sub-table" [attr.colspan]="columns.length + 1">
                        <p-table #dt  [value]="rowData.days" dataKey="id" editMode="row">
                            <ng-template pTemplate="body" let-day let-columns="columns" let-rowData let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="rowData">
                                  <td class="No">{{day.id}}</td>
                                  <td>{{day.day_of_week}}</td>
                                  <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" class="input input-gray2" [(ngModel)]="rowData.merchandise" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{day.merchandise}}
                                        </ng-template>
                                    </p-cellEditor>
                                  </td>
                                  <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" class="input input-gray2" [(ngModel)]="rowData.wire" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{day.wire}}
                                        </ng-template>
                                    </p-cellEditor>
                                  </td>
                                  <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" class="input input-gray2" [(ngModel)]="rowData.delivery" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{day.delivery}}
                                        </ng-template>
                                    </p-cellEditor>
                                  </td>
                                  <td>
                                      {{day.total}}
                                  </td>
                                  <td class="toggle" style="text-align:center">
                                      <a *ngIf="!editing" pInitEditableRow class="itemaction edititem" (click)="onRowEditInit(rowData)">Edit</a>
<!--                                      <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="btn btn-success" (click)="onRowEditInit(rowData)" ></button>-->
<!--                                      <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData, ri)"></button>-->
                                      <a *ngIf="editing" pSaveEditableRow class="itemaction saveitem" (click)="onRowEditSave(rowData, ri)">Save</a>
                                      <a *ngIf="editing" pCancelEditableRow class="itemaction cancelitem" (click)="onRowEditCancel(rowData, ri)">Cancel</a>
<!--                                      <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>-->
                                  </td>
                                </tr>
                            </ng-template>
                        </p-table>

                      </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="generic-card-footer"></div>
        </div>
    </div>
</div>