<div class="col-lg-10 col-xl-10 mt-5">
  <div class="generic-card mb-5">
    <h3 class="card-header">
      <span class="ml-3 font-size-1 txt-color- font-medium">Add New Company Employee</span>
    </h3>
    <div class="card-body mx-lg-5 mx-xl-5 pb-lg-5 pb-xl-5">
      <form [formGroup]="companyemployeeform" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="input input-gray2" [ngClass]="{ 'is-invalid': submitted && f.name.errors}" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">

          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <div class="d-flex justify-content-end">
          <a routerLink="/companyemployee-list" class="btn-generic btn-white mt-5 px-5 mr-1">
            Cancel
          </a>
          <button [disabled]="loading" class="btn-ligth-blue mt-5 px-5">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            SAVE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
