<app-year-quarter (yearQuarterOutput) = "receiveYearQuarter($event)" [showQuarter] = false></app-year-quarter>


<select class="" id="select-quarter" [(ngModel)]="selectedWeekItem" (change)="getWeekDataFromServer()">
    <option *ngFor="let week of weekList" value="{{week.id}}">
        {{week.number+"-"+week.week_end_day}}
    </option>
</select>
<p-dialog header="Edit {{title}}" [(visible)]="visible" [minY]="70" [modal]="true" [contentStyle]="{'overflow':'visible'}" [style]="{width: '300px'}" appendTo="body">
      <form [formGroup]="dayform" (ngSubmit)="updateDay()">
        <input type="hidden" formControlName="id" [(ngModel)]="dialogValues.id"/>
        <div class="form-group">
            <label for="merchandise">Merchandise</label>
            <input type="text" formControlName="merchandise" [(ngModel)]="dialogValues.merchandise" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.merchandise.errors }" />
            <div *ngIf="submitted && f.merchandise.errors" class="invalid-feedback">
                <div *ngIf="f.merchandise.errors.required">Merchandise is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="merchandise">Wire</label>
            <input type="text" formControlName="wire" [(ngModel)]="dialogValues.wire" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.wire.errors }" />
            <div *ngIf="submitted && f.wire.errors" class="invalid-feedback">
                <div *ngIf="f.wire.errors.required">Wire is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="delivery">Delivery</label>
            <input type="text" formControlName="delivery" [(ngModel)]="dialogValues.delivery" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.delivery.errors }" />
            <div *ngIf="submitted && f.delivery.errors" class="invalid-feedback">
                <div *ngIf="f.delivery.errors.required">Delivery is required</div>
            </div>
        </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="visible=false" label="No" class="ui-button-secondary">Cancel</button>
        <button pButton icon="pi pi-check" label="Yes">Update</button>
    </p-footer>
    </form>
</p-dialog>
<div class="ng-cloak font-weight-bold text-right">
    Current Week Sales: {{calcDailyTotal()|currency}}
    Target: {{target}}%
</div>
<div class="row mb-5">
    <div class="col-12">
        <div class="card mt-5 ">
            <div class="card-body">
<!--                <h5 class="card-title">Actual daily revenue</h5>-->
                <div class="row">
                    <div class="col">
                        <div class="form-group text-center">
                            <span class="ng-cloak">{{monday.dates_dim_date | date:'MM/dd/yyyy'}}</span><br>
                            <label for="inputMonday">Monday</label>
                            <input type="text"
                                   class="form-control form-control-plaintext text-center font-weight-bold"
                                   id="inputMonday" [(ngModel)]="monday.amt_formatted"
                                   data-type="currency"
                            >
                            <button type="button" (click)="showEditDay('Monday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group text-center">
                            <span class="ng-cloak">{{tuesday.dates_dim_date | date:'MM/dd/yyyy'}}</span><br>
                            <label for="inputTuesday">Tuesday</label>
                            <input type="text"
                                   class="form-control form-control-plaintext text-center font-weight-bold"
                                   id="inputTuesday" [(ngModel)]="tuesday.amt_formatted"
                                   data-type="currency"
                            >
                            <button type="button" (click)="showEditDay('Tuesday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group text-center">
                            <span class="ng-cloak">{{wednesday.dates_dim_date | date:'MM/dd/yyyy'}}</span><br>
                            <label for="inputWednesday">Wednesday </label>
                            <input type="text"
                                   class="form-control form-control-plaintext text-center font-weight-bold"
                                   id="inputWednesday" [(ngModel)]="wednesday.amt_formatted"
                                   data-type="currency"
                            >
                            <button type="button" (click)="showEditDay('Wednesday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group text-center">
                            <span class="ng-cloak">{{thursday.dates_dim_date | date:'MM/dd/yyyy'}}</span><br>
                            <label for="inputThursday">Thursday </label>
                            <input type="text"
                                   class="form-control form-control-plaintext text-center font-weight-bold"
                                   id="inputThursday" [(ngModel)]="thursday.amt_formatted"
                                   data-type="currency"
                            >
                            <button type="button" (click)="showEditDay('Thursday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group text-center">
                            <span class="ng-cloak">{{friday.dates_dim_date | date:'MM/dd/yyyy'}}</span><br>
                            <label for="inputFriday">Friday </label>
                            <input type="text"
                                   class="form-control form-control-plaintext text-center font-weight-bold"
                                   id="inputFriday" [(ngModel)]="friday.amt_formatted"
                                   data-type="currency"
                            >
                            <button type="button" (click)="showEditDay('Friday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group text-center">
                            <span class="ng-cloak">{{saturday.dates_dim_date | date:'MM/dd/yyyy'}}</span><br>
                            <label for="inputSaturday">Saturday </label>
                            <input type="text"
                                   class="form-control form-control-plaintext text-center font-weight-bold"
                                   id="inputSaturday" [(ngModel)]="saturday.amt_formatted"
                                   data-type="currency"
                            >
                            <button type="button" (click)="showEditDay('Saturday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group text-center">
                            <span class="ng-cloak">{{sunday.dates_dim_date | date:'MM/dd/yyyy'}}</span><br>
                            <label for="inputSunday">Sunday</label>
                            <input type="text"
                                   class="form-control form-control-plaintext text-center font-weight-bold"
                                   id="inputSunday" [(ngModel)]="sunday.amt_formatted"
                                   data-type="currency"
                            >
                            <button type="button" (click)="showEditDay('Sunday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>
                        </div>
                    </div>
<!--                    <div class="col">-->
<!--                        <div class="form-group text-center">-->
<!--                            <label for="inputTotal">Total </label>-->
<!--&lt;!&ndash;                            {{&#45;&#45;<input hidden type="text" class="form-control" id="inputTotal" [(ngModel)]="dailyRevenueTotal" value = {{calcDailyTotal()}} >&#45;&#45;}}&ndash;&gt;-->
<!--                            <div class="ng-cloak font-weight-bold text-center">{{calcDailyTotal()|currency}}</div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="card-footer text-right">
<!--                <button type="button" class="btn btn-primary" ng-click="updateDaysAmtValues()"-->
<!--                        ng-disabled="saveDays_btnDisable">Save Changes-->
<!--                </button>-->
<!--                {{&#45;&#45;<a href="#" class="btn btn-primary" ng-click="updateDaysAmtValues()">Save changes</a>&#45;&#45;}}-->

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <h5 class="card-header">Vendors<div class="float-right">{{invoiceTotal|currency}}</div></h5>
<!--            <ul class="nav nav-pills ml-auto p-2">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="/storecreate" data-toggle="tab" >Add Store</a>-->
<!--                </li>-->
<!--            </ul>-->
            <div class="card-body">
                <p-table #dt [columns]="invoicesTableCols" [value]="invoices" [paginator]="true" [rows]="15">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="icon-14 setting-icon" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-invoice>
                        <tr>
                            <td>{{invoice.invoice_name}}</td>
                            <td>{{invoice.invoice_number}}</td>
                            <td>{{invoice.total}}</td>
                            <td>
                                <button [routerLink]="['/week-panel', invoice.invoice_id]" class="btn btn-error">Delete</button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card-footer text-right">
                <form class="form-inline">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Number"
                           [(ngModel)]="invoiceNumber_add"
                           [ngModelOptions]="{standalone: true}">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Name"
                           [(ngModel)]="invoiceName_add"
                           [ngModelOptions]="{standalone: true}">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
                           placeholder="Value"
                           [(ngModel)]="invoiceTotal_add" data-type="currency"
                           [ngModelOptions]="{standalone: true}">

                    <button type="submit" class="btn btn-primary" (click)="createInvoice()">Add
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Projected Sales</h6>
                        <h5 class="card-title ng-cloak">{{projWeeklyRev | currency}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Projected Budget</h6>
                        <h5 class="card-title ng-cloak">{{projWeeklyRev * (target/100) | currency}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Actual Sales</h6>
                        <h5 class="card-title ng-cloak">{{calcDailyTotal()|currency}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Actual Budget</h6>
                        <h5 class="card-title ng-cloak">
                            {{ getTargetInMoney() | currency }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Total Cost</h6>
                        <h5 class="card-title ng-cloak">
                            {{invoiceTotal|currency}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Budget Remaining</h6>
                        <h5 class="card-title ng-cloak">
                            {{getTargetInMoney() - invoiceTotal|currency}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-dialog header="Create Note" [(visible)]="visibleDialogNote" [minY]="70" [modal]="true" [contentStyle]="{'overflow':'visible'}" [style]="{width: '300px'}" appendTo="body">
        <form [formGroup]="noteform" (ngSubmit)="createNote()">
          <input type="hidden" formControlName="id" [(ngModel)]="dialogValues.id"/>
          <div class="form-group">
              <label for="merchandise">Text</label>
              <textarea  formControlName="text" class="form-control" [ngClass]="{ 'is-invalid': submittedFormNote && n.text.errors }" ></textarea>
              <div *ngIf="submittedFormNote && n.text.errors" class="invalid-feedback">
                  <div *ngIf="n.text.errors.required">Text is required</div>
              </div>
          </div>
          <p-footer>
              <button type="button" pButton icon="pi pi-close" (click)="visibleDialogNote=false" label="No" class="ui-button-secondary">Cancel</button>
              <button pButton icon="pi pi-check" label="Yes">Create</button>
          </p-footer>
      </form>
  </p-dialog>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <div class="col-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title ng-cloak">{{yearSelected}} Notes</h5>
                        <p-table #dt [columns]="cols" selectionMode="single" (onRowSelect)="onRowNoteSelect($event)" (onRowUnselect)="onRowNoteUnselect($event)" [value]="notesYearSelected" dataKey="id" [paginator]="true" [rows]="5">
                            <ng-template pTemplate="body" let-note let-expanded="expanded" let-columns="columns">
                                <tr [pSelectableRow]="note">
                                    <td class="toggle">
                                        <a href="#" [pRowToggler]="note">
                                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                        </a>
                                    </td>
                                    <td class="No">{{note.id}}</td>
                                    <td>{{note.text | slice:0:5}} ...</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                                <tr>
                                    <td class="sub-table" [attr.colspan]="2">
                                        {{rowData.text}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="card-footer">
                        <button style="margin-right: 10px" pButton type="button" icon="pi pi-plus" class="ui-button-info" (click)="visibleDialogNote = true;" ></button>
                        <button pButton type="button" icon="pi pi-remove" class="ui-button-info" (click)="deleteNote()" ></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2" *ngFor="let oldNote of oldNotes">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title ng-cloak">{{oldNote.year}} Notes</h5>
                        <p-table #dt [columns]="cols"  [value]="oldNote.yearOldNotes" dataKey="id" [paginator]="true" [rows]="5">
                        <ng-template pTemplate="body" let-note let-expanded="expanded" let-columns="columns">
                            <tr [pSelectableRow]="note">
                                <td class="toggle">
                                    <a href="#" [pRowToggler]="note">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>
                                </td>
                                <td class="No">{{note.id}}</td>
                                <td>{{note.text | slice:0:5}} ...</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                            <tr>
                                <td class="sub-table" [attr.colspan]="2">
                                    {{rowData.text}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>