<div class="row plrb-08">
    <div class="col d-flex align-items-start flex-wrap">
        <div class="mr-auto previouslink">Previous</div>
        <div class="ng-cloak font-medium ">
            Current Week Sales: <span class="txt-color-blue-soft">{{calcDailyTotal()|currency}}</span>
            Target: <span class="txt-color-blue-soft">{{target}}%</span>
        </div>
    </div>
</div>

<div class="row">

    <div class="d-flex col">
        <div>
            <app-year-quarter (yearQuarterOutput) = "receiveYearQuarter($event)" [showQuarter] = false></app-year-quarter>
        </div>
        <div class="d-flex">
            <div class="font-size-08 txt-color-gray3 font-medium pr-1 selectyear">Select Week:</div>
            <div class="select">
                <select class="" id="select-quarter" [(ngModel)]="selectedWeekItem" (change)="getWeekDataFromServer()">
                    <option *ngFor="let week of weekList" value="{{week.id}}">
                        {{week.number+"-"+week.week_end_day}}
                    </option>
                </select>
                <div class="select_arrow"></div>
            </div>
        </div>
    </div>
</div>



<div class="row p-08">
    <div class="col-12">
        <div class="generic-card-1">
            <div class="card-body">
<!--                <h5 class="card-title">Actual daily revenue</h5>-->
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-column align-items-center">
                            <span class="ng-cloak">{{monday.dates_dim_date | date:'MM/dd/yyyy'}}</span>
                            <label for="inputMonday" class="font-medium txt-small txt-color-gray3">Monday</label>
                            <input type="text"
                                   class="w-75 input input-small-white"
                                   id="inputMonday" [(ngModel)]="monday.amt_formatted"
                                   data-type="currency"
                                   readonly
                            >
                            <a class="itemaction edititem mt-3" (click)="showEditDay('Monday')">Edit</a>
<!--                            <button type="button" (click)="showEditDay('Monday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>-->
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column align-items-center">
                            <span class="ng-cloak">{{tuesday.dates_dim_date | date:'MM/dd/yyyy'}}</span>
                            <label for="inputTuesday" class="txt-small txt-color-gray3">Tuesday</label>
                            <input type="text"
                                   class="w-75 input input-small-white"
                                   id="inputTuesday" [(ngModel)]="tuesday.amt_formatted"
                                   data-type="currency"
                                   readonly
                            >
                            <a class="itemaction edititem mt-3" (click)="showEditDay('Tuesday')">Edit</a>
<!--                            <button type="button" (click)="showEditDay('Tuesday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>-->
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column align-items-center">
                            <span class="ng-cloak">{{wednesday.dates_dim_date | date:'MM/dd/yyyy'}}</span>
                            <label for="inputWednesday" class="txt-small txt-color-gray3">Wednesday </label>
                            <input type="text"
                                   class="w-75 input input-small-white"
                                   id="inputWednesday" [(ngModel)]="wednesday.amt_formatted"
                                   data-type="currency"
                                   readonly
                            >
                            <a class="itemaction edititem mt-3" (click)="showEditDay('Wednesday')">Edit</a>
<!--                            <button type="button" (click)="showEditDay('Wednesday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>-->
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column align-items-center">
                            <span class="ng-cloak">{{thursday.dates_dim_date | date:'MM/dd/yyyy'}}</span>
                            <label for="inputThursday" class="txt-small txt-color-gray3">Thursday </label>
                            <input type="text"
                                   class="w-75 input input-small-white"
                                   id="inputThursday" [(ngModel)]="thursday.amt_formatted"
                                   data-type="currency"
                                   readonly
                            >
                            <a class="itemaction edititem mt-3" (click)="showEditDay('Thursday')">Edit</a>
<!--                            <button type="button" (click)="showEditDay('Thursday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>-->
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column align-items-center">
                            <span class="ng-cloak">{{friday.dates_dim_date | date:'MM/dd/yyyy'}}</span>
                            <label for="inputFriday" class="txt-small txt-color-gray3">Friday </label>
                            <input type="text"
                                   class="w-75 input input-small-white"
                                   id="inputFriday" [(ngModel)]="friday.amt_formatted"
                                   data-type="currency"
                                   readonly
                            >
                            <a class="itemaction edititem mt-3" (click)="showEditDay('Friday')">Edit</a>
<!--                            <button type="button" (click)="showEditDay('Friday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>-->
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column align-items-center">
                            <span class="ng-cloak">{{saturday.dates_dim_date | date:'MM/dd/yyyy'}}</span>
                            <label for="inputSaturday" class="txt-small txt-color-gray3">Saturday </label>
                            <input type="text"
                                   class="w-75 input input-small-white"
                                   id="inputSaturday" [(ngModel)]="saturday.amt_formatted"
                                   data-type="currency"
                                   readonly
                            >
                            <a class="itemaction edititem mt-3" (click)="showEditDay('Saturday')">Edit</a>
<!--                            <button type="button" (click)="showEditDay('Saturday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>-->
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column align-items-center">
                            <span class="ng-cloak">{{sunday.dates_dim_date | date:'MM/dd/yyyy'}}</span>
                            <label for="inputSunday" class="txt-small txt-color-gray3">Sunday</label>
                            <input type="text"
                                   class="w-75 input input-small-white"
                                   id="inputSunday" [(ngModel)]="sunday.amt_formatted"
                                   data-type="currency"
                                   readonly
                            >
                            <a class="itemaction edititem mt-3" (click)="showEditDay('Sunday')">Edit</a>
<!--                            <button type="button" (click)="showEditDay('Sunday')" pButton icon="pi pi-info-circle" label="Edit">Edit</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-08">
    <div class="col-lg-9">
        <div class="generic-card-1">
            <div class="row">
                <div class="col-lg-8">
                    <div class="">
                        <h5 class="card-header font-size-1">Vendors<div class="float-right"><span class="font-size-1 txt-color-gray4 font-medium pr-1">Total Costs:</span> <span class="font-size-1 txt-color-blue-soft font-bold"> {{invoiceTotal|currency}}</span></div></h5>
                        <!--            <ul class="nav nav-pills ml-auto p-2">-->
                        <!--                <li class="nav-item">-->
                        <!--                    <a class="nav-link active" href="/storecreate" data-toggle="tab" >Add Store</a>-->
                        <!--                </li>-->
                        <!--            </ul>-->

                        <div class="card-body">
                            <p-table class="generic-table" #dt [columns]="invoicesTableCols" [value]="invoices" [paginator]="true" [rows]="15">
                                <ng-template pTemplate="caption">
                                    <div style="text-align: right">
                                        <i class="icon-14 setting-icon" style="margin:4px 4px 0 0"></i>
                                        <input class="imput-gray1" type="text" pInputText size="25" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-invoice>
                                    <tr>
                                        <td>{{invoice.invoice_name}}</td>
                                        <td>{{invoice.invoice_number}}</td>
                                        <td>{{invoice.total}}</td>
                                        <td>
                                            <a class="itemaction cancelitem">Delete</a>
<!--                                            <button [routerLink]="['/week-panel', invoice.invoice_id]" class="btn btn-error">Delete</button>-->
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="horizontal-line"></div>
                        <div class="generic-card-footer text-right">
                            <button class="btn-ligth-blue" (click)="visibleVendor = true;">Create Invoice</button>
<!--                            <button style="margin-right: 10px" pButton type="button" class="btn-ligth-blue" (click)="visibleVendor = true;" ></button>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 borderleft-lg-xl pl-lg-0 pl-xl-0">
                    <div class="row pl-4">
                        <div class="col d-flex flex-column">
                            <div class="">
                                <div class="card-body pb-2">
                                    <span class="txt-size-12rem txt-color-gray4 font-regular">Projected Sales</span>
                                    <div class="txt-color-blue-soft txt-size-12rem font-medium">{{projWeeklyRev | currency}}</div>
                                </div>
                            </div>
                            <div class="">
                                <div class="card-body">
                                    <span class="txt-size-12rem txt-color-gray4 font-regular">Projected Budget</span>
                                    <div class="txt-color-blue-soft txt-size-12rem font-medium">{{projWeeklyRev * (target/100) | currency}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-line"></div>
                    <div class="row pl-4">
                        <div class="col d-flex flex-column">
                            <div class="">
                                <div class="card-body pb-2">
                                    <span class="txt-size-12rem txt-color-gray4 font-regular">Actual Sales</span>
                                    <div class="txt-color-blue-soft txt-size-12rem font-medium">{{calcDailyTotal()|currency}}</div>
                                </div>
                            </div>
                            <div class="">
                                <div class="card-body pb-2">
                                    <span class="txt-size-12rem txt-color-gray4 font-regular">Actual Budget</span>
                                    <div class="txt-color-blue-soft txt-size-12rem font-medium">
                                        {{ getTargetInMoney() | currency }}
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="card-body pb-2">
                                    <span class="txt-size-12rem txt-color-gray4 font-regular">Total Cost</span>
                                    <div class="txt-color-blue-soft txt-size-12rem font-medium">
                                        {{invoiceTotal|currency}}
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="card-body">
                                    <span class="txt-size-12rem txt-color-gray4 font-regular">Budget Remaining</span>
                                    <div class="txt-color-blue-soft txt-size-12rem font-medium">
                                        {{getTargetInMoney() - invoiceTotal|currency}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Create Note" [(visible)]="visibleDialogNote" [minY]="70" [modal]="true" [contentStyle]="{'overflow':'visible'}" [style]="{width: '300px'}" appendTo="body">
        <form [formGroup]="noteform" (ngSubmit)="createNote()">
          <!--<input type="hidden" formControlName="id" [(ngModel)]="dialogValues.id"/>-->
          <div class="form-group">
              <label for="text">Text</label>
              <textarea  formControlName="text" class="form-control" [ngClass]="{ 'is-invalid': submittedFormNote && n.text.errors }" ></textarea>
              <div *ngIf="submittedFormNote && n.text.errors" class="invalid-feedback">
                  <div *ngIf="n.text.errors.required">Text is required</div>
              </div>
          </div>
          <p-footer>
              <button type="button" pButton icon="pi pi-close" (click)="visibleDialogNote=false" label="No" class="ui-button-secondary">Cancel</button>
              <button pButton icon="pi pi-check" label="Yes">Create</button>
          </p-footer>
      </form>
  </p-dialog>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <div class="col-lg-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title ng-cloak">{{yearSelected}} Notes</h5>
                        <p-table #dt [columns]="cols" selectionMode="single" (onRowSelect)="onRowNoteSelect($event)" (onRowUnselect)="onRowNoteUnselect($event)" [value]="notesYearSelected" dataKey="id" [paginator]="true" [rows]="5">
                            <ng-template pTemplate="body" let-note let-expanded="expanded" let-columns="columns">
                                <tr [pSelectableRow]="note">
                                    <td class="toggle">
                                        <a href="#" [pRowToggler]="note">
                                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                        </a>
                                    </td>
                                    <td class="No">{{note.id}}</td>
                                    <td>{{note.text | slice:0:5}} ... {{note.updated_at | date:'MMM dd, yyyy'}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                                <tr>
                                    <td class="sub-table" [attr.colspan]="2">
                                        {{rowData.text}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="card-footer">
                        <button style="margin-right: 10px" pButton type="button" icon="pi pi-plus" class="ui-button-info" (click)="visibleDialogNote = true;" ></button>
                        <button pButton type="button" icon="pi pi-remove" class="ui-button-info" (click)="deleteNote()" ></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2" *ngFor="let oldNote of oldNotes">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title ng-cloak">{{oldNote.year}} Notes</h5>
                        <p-table #dt [columns]="cols"  [value]="oldNote.yearOldNotes" dataKey="id" [paginator]="true" [rows]="5">
                        <ng-template pTemplate="body" let-note let-expanded="expanded" let-columns="columns">
                            <tr [pSelectableRow]="note">
                                <td class="toggle">
                                    <a href="#" [pRowToggler]="note">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>
                                </td>
                                <td class="No">{{note.id}}</td>
                                <td>{{note.text | slice:0:5}} ...</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                            <tr>
                                <td class="sub-table" [attr.colspan]="2">
                                    {{rowData.text}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<p-dialog header="Edit {{title}}" [(visible)]="visible" [minY]="70" [modal]="true" [contentStyle]="{'overflow':'visible'}" [style]="{width: '300px'}" appendTo="body">
    <form [formGroup]="dayform" (ngSubmit)="updateDay()">
        <input type="hidden" formControlName="id" [(ngModel)]="dialogValues.id"/>
        <div class="form-group">
            <label for="merchandise">Merchandise</label>
            <input type="text" formControlName="merchandise" [(ngModel)]="dialogValues.merchandise" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.merchandise.errors }" />
            <div *ngIf="submitted && f.merchandise.errors" class="invalid-feedback">
                <div *ngIf="f.merchandise.errors.required">Merchandise is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="merchandise">Wire</label>
            <input type="text" formControlName="wire" [(ngModel)]="dialogValues.wire" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.wire.errors }" />
            <div *ngIf="submitted && f.wire.errors" class="invalid-feedback">
                <div *ngIf="f.wire.errors.required">Wire is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="delivery">Delivery</label>
            <input type="text" formControlName="delivery" [(ngModel)]="dialogValues.delivery" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.delivery.errors }" />
            <div *ngIf="submitted && f.delivery.errors" class="invalid-feedback">
                <div *ngIf="f.delivery.errors.required">Delivery is required</div>
            </div>
        </div>
        <p-footer>
            <button type="button" pButton icon="pi pi-close" (click)="visible=false" label="No" class="ui-button-secondary">Cancel</button>
            <button pButton icon="pi pi-check" label="Yes">Update</button>
        </p-footer>
    </form>
</p-dialog>

<p-dialog header="Create Vendor" [(visible)]="visibleVendor" [minY]="70" [modal]="true" [contentStyle]="{'overflow':'visible'}" [style]="{width: '300px'}" appendTo="body">
    <form [formGroup]="vendorform" (ngSubmit)="createInvoice()">
        <div class="form-group">
            <label for="number">Invoice Number</label>
            <input type="text" formControlName="number" class="form-control" [ngClass]="{ 'is-invalid': submittedVendor && v.number.errors }" />
            <div *ngIf="submittedVendor && v.number.errors" class="invalid-feedback">
                <div *ngIf="v.number.errors.required">Number is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Invoice Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submittedVendor && v.name.errors }" />
            <div *ngIf="submittedVendor && v.name.errors" class="invalid-feedback">
                <div *ngIf="v.name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="value">Invoice Value</label>
            <input type="text" formControlName="value"  class="form-control" [ngClass]="{ 'is-invalid': submittedVendor && v.value.errors }" />
            <div *ngIf="submittedVendor && v.value.errors" class="invalid-feedback">
                <div *ngIf="v.value.errors.required">Value is required</div>
            </div>
        </div>
        <p-footer>
            <button type="button" pButton icon="pi pi-close" (click)="visibleVendor=false;submittedVendor=false" label="No" class="ui-button-secondary">Cancel</button>
            <button pButton icon="pi pi-check" label="Yes">Create</button>
        </p-footer>
    </form>
</p-dialog>



<!--<form class="form-inline">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Number"
           [(ngModel)]="invoiceNumber_add"
           [ngModelOptions]="{standalone: true}">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Name"
           [(ngModel)]="invoiceName_add"
           [ngModelOptions]="{standalone: true}">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
           placeholder="Value"
           [(ngModel)]="invoiceTotal_add" data-type="currency"
           [ngModelOptions]="{standalone: true}">

    <button type="submit" class="btn btn-primary" (click)="createInvoice()">Add
    </button>
</form>-->
