<p-table [hidden]="!displayList" class="generic-table" #dt [columns]="cols" [value]="employees" [paginator]="true" [rows]="15">
<ng-template pTemplate="header" let-columns>
  <tr>
	<th *ngFor="let col of columns">
	  {{col.header}}
	</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-employee>
  <tr>
	<td>{{employee.company_name}}</td>
	<td>{{employee.name}}</td>
	<td>{{employee.email}}</td>
	<td>{{employee.phone_number}}</td>
	<td>{{employee.status_name}}</td>
	<td [hidden]="employee.active=='1'">No</td>
	<td [hidden]="employee.active!='1'">Yes</td>
	<td>
	  <a [routerLink]="['/edit-companyemployee', employee.id]" class="itemaction edititem">Edit</a>
<!--              <button [routerLink]="['/edit-employee', employee.id]" class="btn btn-success">Edit</button>-->
	</td>
  </tr>
</ng-template>
</p-table>

<div [hidden]="displayList" class="row container-list-expanded">
	  <div class="col-lg-3" *ngFor="let employee of employees">
			<div class="container-employee">
				<div *ngIf="employee.image!='default'" class="image"><img src="{{urlImage}}{{employee.image}}"></div>
				<div *ngIf="employee.image=='default'" class="image"><img src="/assets/image/missing_avatar.svg"></div>
				<div class="name">{{employee.name}}</div>
				<div class="company-position">{{employee.company_name}}<span> | </span>{{employee.status_name}}</div>
				<div class="email">{{employee.email}}</div>
				<div class="phone">{{employee.phone_number}}</div>
			</div>
	  </div>
  </div>
