<!-- nav -->
<!--<nav class="navbar flex-column navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/stores">Stores</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        <a class="nav-item nav-link" (click)="cancelCompany()">Cancel Company</a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>-->
<app-message></app-message>
<div class="d-flex" id="wrapper" [ngClass]="{ 'toggled': toggled }" *ngIf="currentUser">
<!--<div class="d-flex" id="wrapper" [ngClass]="{ 'toggled': toggled }" >-->
    <!-- Sidebar -->
    <div class="bg-dark-blue border-right" id="sidebar-wrapper">
      <div class="sidebar-heading font-medium">Company Name </div>
      <div class="list-group list-group-flush">
        <a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/home">
          <div class="icon dashboard-icon ml-4 mr-4"></div>Dashboard
        </a>

        <a routerLink="{{module.action}}" *ngFor = "let module of modules" class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular">
          <div class="icon-14 ml-4 mr-4" [ngClass]="module.icono"></div>{{module.name}}
        </a>
        <!--<div class="dropdown-container">
          <a class="py-3 pl-6 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="#" *ngFor = "let module of modules">{{module.name}}</a>
        </div>-->

        <a class="d-inline-flex dropdown-btn py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular">
            <div class="icon-14 setting-icon ml-4 mr-4"></div>Settings
        </a>
        <div class="dropdown-container">
            <a class="py-3 pl-6 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/stores">Stores</a>
            <a class="py-3 pl-6 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/employees">
              Employees
            </a>
            <a class="py-3 pl-6 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/companyemployee-list">
                Company Employees
            </a>
        </div>


        <a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/home" (click)="logout()">
          <div class="icon-14 logout-icon ml-4 mr-4"></div>Log out
        </a>

        <!--<a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/cost-of/fresh">
            <div class="icon-14 setting-icon ml-4 mr-4"></div>Cost of Fresh
        </a>-->
        <!--<a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/cost-of/goods">
          <div class="icon-14 setting-icon ml-4 mr-4"></div>Cost of Goods
        </a>-->
        <!--<a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/projections">
          <a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/cost-of/fresh">
              <div class="icon-14 costoffresh-icon ml-4 mr-4"></div>Cost of Fresh
          </a>
        <a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/cost-of/goods">
          <div class="icon-14 costofgoods-icon ml-4 mr-4"></div>Cost of Goods
        </a>
        <a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/projections">
          <div class="icon-14 setting-icon ml-4 mr-4"></div>Projections
        </a>-->
        <!--<a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/sales">
          <div class="icon-14 setting-icon ml-4 mr-4"></div>Sales
        </a>-->
        <!--<a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/scheduler">
          <div class="icon-14 setting-icon ml-4 mr-4"></div>Scheduler
        </a>
        </a>-->
        <!--<a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/sales">
          <div class="icon-14 sales-icon ml-4 mr-4"></div>Sales
        </a>
        <a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/scheduler">
          <div class="icon-14 scheduler-icon ml-4 mr-4"></div>Scheduler
        </a>
        <a class="d-inline-flex py-3 list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular" routerLink="/employees">
          <div class="icon-14 setting-icon ml-4 mr-4"></div>Employees
        </a>-->
        <!--<a class="list-group-item-menu list-group-item-action-menu bg-dark-blue font-regular"  routerLink="#" >Logout</a>-->
        <!--<a class="nav-item nav-link" (click)="cancelCompany()">Cancel Company</a>-->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

<!--      <nav class="navbar navbar-expand-lg navbar-light bg-clear-white light-shadow p-0">-->
<!--        <a class="toggle-menu" (click)="toggleMenu()"><img src="../assets/image/togglemenu.svg" alt = "Toggle menu"/></a>-->
        <!--<button cl class="btn btn-primary" (click)="toggleMenu()" id="menu-toggle">Toggle Menu</button>-->
      <nav class="d-flex navbar navbar-expand-lg navbar-light bg-clear-white light-shadow p-0 mb-12">
        <a class="mr-auto toggle-menu" (click)="toggleMenu()"><img src="../assets/image/togglemenu.svg" alt = "Toggle menu"/></a>
        <!--<button class="btn btn-primary" (click)="toggleMenu()" id="menu-toggle">Toggle Menu</button>-->

<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

        <div class=" justify-content-end  mr-3">
          <app-stores-combo></app-stores-combo>
        </div>

        <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>-->
      </nav>

      <div class="container-fluid">
        <!--<h1 class="mt-4">Simple Sidebar</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
        -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper --->

  </div>

  <div class="container" *ngIf="!currentUser">
    <router-outlet></router-outlet>
  </div>
