<div class="d-flex justify-content-between align-items-center">
    <app-year-quarter (yearQuarterOutput) = "receiveYearQuarter($event)" [showQuarter] = false></app-year-quarter>
</div>

<div class="panel panel-primary mb-5">
    <div class="panel-body">
        <div class="generic-card">
            <h5 class="card-header">Projections</h5>
<!--      <ul class="nav nav-pills ml-auto p-2">-->
<!--        <li class="nav-item">-->
<!--          &lt;!&ndash;<a class="nav-link active" href="/storecreate" data-toggle="tab" >Add Store</a>&ndash;&gt;-->
<!--          <select class="" id="select-years-general" [(ngModel)]="yearIndexSelected" (change)="onYearSelected(yearIndexSelected)">-->
<!--            <option value="2016">2016</option>-->
<!--            <option value="2017">2017</option>-->
<!--            <option value="2018">2018</option>-->
<!--            <option value="2019">2019</option>-->
<!--            <option value="2020">2020</option>-->
<!--          </select>-->
<!--        </li>-->
<!--      </ul>-->
      <p-table class="generic-table" #dt [columns]="cols" [value]="proyections" [paginator]="true" [rows]="15" dataKey="id" editMode="row" [lazy]="true" [loading]="loading">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
              <input type="text" class="imput-gray1" pInputText size="25" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th class="{{col.header}}" *ngFor="let col of columns">
                  {{col.header}}
              </th>
<!--              <th style="width:8em"></th>-->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-projection let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData">
              <td class="No">{{projection.id}}</td>
              <td>{{projection.week}}</td>
              <td>{{projection.reference_amt_total}}</td>
              <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input class="input input-gray2" pInputText type="text" [(ngModel)]="rowData.adjust" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{projection.adjust}}
                    </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input class="input input-gray2" pInputText type="text" [(ngModel)]="rowData.amt_total" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{projection.amt_total}}
                    </ng-template>
                </p-cellEditor>
              </td>
<!--              <td></td>-->
              <td>
                  <a *ngIf="!editing" pInitEditableRow class="itemaction edititem" (click)="onRowEditInit(rowData)">Edit</a>
<!--                  <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)" >Edit</button>-->
<!--                  <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData, ri)">Save</button>-->
<!--                  <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)">Cancel</button>-->
                  <a *ngIf="editing" pSaveEditableRow class="itemaction saveitem" (click)="onRowEditSave(rowData, ri)">Save</a>
                  <a *ngIf="editing" pCancelEditableRow class="itemaction cancelitem" (click)="onRowEditCancel(rowData, ri)">Cancel</a>
              </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="generic-card-footer"></div>
      </div>
    </div>
</div>
