<div class="panel panel-primary">
  <!--<div class="panel-heading">-->
    <!--<h2>Store List</h2>-->
  <!--</div>-->
  <div class="panel-body">
    <div class="card m-4">
      <h5 class="card-header">Projection list</h5>
      <ul class="nav nav-pills ml-auto p-2">
        <li class="nav-item">
          <!--<a class="nav-link active" href="/storecreate" data-toggle="tab" >Add Store</a>-->
          <select class="" id="select-years-general" [(ngModel)]="yearIndexSelected" (change)="onYearSelected(yearIndexSelected)">
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
          </select>
        </li>
      </ul>
      <p-table #dt [columns]="cols" [value]="proyections" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
          <div style="text-align: right">        
              <i class="icon-14 setting-icon" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-projection>
            <tr>
              <td>{{projection.week}}</td>
              <td>{{projection.reference_amt_total}}</td>
              <td>{{projection.adjust}}</td>
              <td>{{projection.amt_total}}</td>
              <td></td>
            </tr>
        </ng-template>
        <!--<ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
              <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
              </td>
          </tr>
        </ng-template>-->
    </p-table>
      <!--<table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Contact phone</th>
          <th>Email</th>
          <th>ZipCode</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let store of stores">
          <td>{{store.store_name}}</td>
          <td>{{store.contact_phone}}</td>
          <td>{{store.contact_email}}</td>
          <td>{{store.zip_code}}</td>
          <td>{{store.address}}</td>
          <td>
            <button [routerLink]="['/storeedit', store.id]" class="btn btn-success">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>-->
      </div>
    </div>
</div>
