<div class="col-md-6 offset-md-3 mt-5">
  <h4 class="card-header">Your Company has been activated, <a class="" routerLink="">Login</a></h4>
  <!--<div class="card">
      <h4 class="card-header">Activate Company</h4>
      <div class="card-body">
          <form [formGroup]="SignUpForm">
              <div class="form-group">
                  <label for="email">Code</label>
                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">compañia is required</div>
                  </div>
              </div>
              <button type="button" (click)="next()" class="btn btn-primary">
                  Activate
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
      </div>
  </div>-->
</div>

