<div class="d-flex justify-content-center pt-lg-5 mt-5 mt-xl-5">
  <div class="card login-loginup-card p-lg-2 align-self-center">
    <div class="card-body mt-lg-4">
      <h4 class="card-title text-center mb-4">Check your Email</h4>
      <div class="max-w-270 font-light txt-color-gray2 text-center">
        <p>Email sent to <a>{{email}}</a></p>
        <p class="pb-4">Check your inbox and click the link sended to you to finish your registration process.</p>
        <div class="separator-line"></div>
        <p class="pt-4">If you have an active account you can go to Log In screen. <a [routerLink]="['/']"> Click here</a></p>
      </div>
    </div>
  </div>
</div>
