<div class="panel panel-primary mb-5 ">
  <div class="panel-body">
    <div class="generic-card table-responsive">
      <h5 class="card-header">Calendar View</h5>

      <div class="d-flex pl-3">
        <div class="mr-2 d-flex align-content-center ">
          <div class="font-size-08 txt-color-gray3 font-medium pr-1 selectyear">Position:</div>
          <div class="select mr-4">
            <select class="" id="select-categoryonschedule" [(ngModel)]="categoriesEmployeesListSelectedItem" (change)="onCategorySelected($event)">
              <option *ngFor="let categorie of categoriesEmployeesList" value="{{categorie.id}}">
                {{categorie.name}}
              </option>
            </select>
            <div class="select_arrow"></div>
          </div>
        </div>

        <div class="mr-2 d-flex align-content-center ">
          <div class="font-size-08 txt-color-gray3 font-medium pr-1 selectyear">Name:</div>
          <div class="select mr-4">
            <select class="" id="select-employeeitemonschedule" [(ngModel)]="employeesListSelected" (change)="onEmployeeSelected($event)">
              <option *ngFor="let emp of employeesList" value="{{emp.id}}">
                {{emp.name}}
              </option>
            </select>
            <div class="select_arrow"></div>
          </div>
        </div>
      </div>
      <div class="row mx-0 px-3 my-3">
        <div class="col" *ngFor="let day of employeeToShow.schedule_days; let num = index">
          <div class="row ">
            <div class="col d-flex flex-column">
              <span>{{day.day_of_week}}</span>
              <span>{{day.date}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="generic-card-1 d-flex flex-column">
                <div class="generic-card-mini-header d-flex flex-column">
                  <span class = "scheduler-calendar-card-name"> {{employeeToShow.name}}</span>
                  <span class = "scheduler-calendar-card-name"> {{employeeToShow.category_name}}</span>
                </div>
                <div class="generic-card-mini-body d-flex flex-column">
                  <span class = "scheduler-calendar-card-time-range"> {{day.time_in}}</span>
                </div>
                <div class="generic-card-mini-footer d-flex justify-content-center">
                  <span class = "scheduler-calendar-card-time-range"><a>Edit</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="generic-card-footer"></div>
    </div>
  </div>
</div>

