<!--<div class="dropdown nav-item">
  <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>-->
<p-menubar autoZIndex="false" [model]="items"></p-menubar>
<!--<div ng-template="aki">
<button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
<p-tieredMenu appendTo="aki" #menu [model]="items" [popup]="true"></p-tieredMenu>
</div>-->
<!--<h3>Popup</h3>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
<button type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>-->