<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbar-list-4">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img *ngIf="selectedFile.src==''" src="/assets/image/upload.svg" width="32" height="32" class="rounded-circle">
				<img *ngIf="selectedFile.src!=''" [src]="domSanitizer.bypassSecurityTrustUrl(selectedFile.src)" width="32" height="32" class="rounded-circle">
                <span class="font-size-08 txt-color-gray3 font-medium pr-1 px-1">{{userName}}</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/home">Dashboard</a>
                <!--<a class="dropdown-item" href="#">Edit Profile</a>-->
                <a class="dropdown-item" href="#" (click)="logout()">Log Out</a>
            </div>
        </li>
    </ul>
</div>

<!--<div class="dropdown nav-item">-->
<!--  <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--    Dropdown button-->
<!--  </button>-->
<!--  <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--    <a class="dropdown-item" href="#">Action</a>-->
<!--    <a class="dropdown-item" href="#">Another action</a>-->
<!--    <a class="dropdown-item" href="#">Something else here</a>-->
<!--  </div>-->
<!--</div>-->
<!--<p-menubar [model]="items"></p-menubar>-->

<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="navbar-list-4">-->
<!--    <ul class="navbar-nav">-->
<!--        <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--                <a class="dropdown-item" href="#">Dashboard</a>-->
<!--                <a class="dropdown-item" href="#">Edit Profile</a>-->
<!--                <a class="dropdown-item" href="#">Log Out</a>-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->