<p-chart type="bar" [data]="lineChartData"></p-chart>
<!--<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Plans</h1>
    
  
  <div [hidden]="!error" class="alert alert-danger pricing-header px-3 py-3 pt-md-1 pb-md-1 mx-auto text-center">
      Select plans !
  </div>
  
  <div class="container">
    <div class="row">
      <div class="card-deck mb-3 text-center">
        <div *ngFor = "let plan of plans" class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{plan.plan.name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">${{plan.plan.cost}} <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li *ngFor = "let module of plan.modules">{{module.modules_name}}</li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="!loaded" class="text-center mb-12">
      <p>Loading ....</p> 
    </div>
  </div>-->